/* Add your custom styles here */

.example-form {
    max-width: 400px;
    margin: auto;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  /* Adjust styling for the submit button */
  button {
    margin-top: 15px;
  }
  
  /* Add some spacing between form fields */
  mat-form-field {
    margin-bottom: 15px;
  }
  
  /* Style the form error messages */
  mat-error {
    color: #ff0000; /* Red color for error messages */
    font-size: 12px;
    margin-top: 5px;
  }
  