<form [formGroup]="barterForm" class="example-form" (submit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Status" formControlName="status" readonly>
    </mat-form-field>
  
    <!-- You can add more fields as needed -->
  
    <button mat-raised-button color="primary" type="submit">Create Element</button>
  </form>
  