.buttons-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;

  button{
      margin-right: 20px;
  }
  
}

.card-matrix {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
    .mat-card {
      width: 300px; // Set a default width for the card
      margin: 10px; // Add some margin between cards
  
      @media (max-width: 600px) {
        width: 100%; // Make cards take up 100% of the width on smaller screens
      }
  
      // Other styles for mat-card can be added here
      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  
      .image-container {
        height: 200px; // Set a fixed height for the images
        overflow: hidden; // Hide any overflow beyond the fixed height
  
        img {
          width: 100%; // Make the image take up 100% of the container
          height: 100%; // Make the image take up 100% of the container
          object-fit: cover; // Maintain aspect ratio and cover the container
        }
      }
    }
  }
  