form {
    max-width: 500px;
    margin: 40px auto 20px;

    mat-form-field {
        width: 100%;
    }

    div:last-child {
        text-align: right;
    }
}

img {
    height: 40%;
    width: 40%;
    margin: auto;
    display: flex;
  }
