<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Let´s all Barter</h1>
            <p class="lead fw-normal text-white-50 mb-0">Everyone deserves a second chance!</p>
        </div>
    </div>
</header>


<div class="divPadre">
    <br>
    <h1><b>About us!</b></h1>
    <div class="divHijo"><h3>Es una plataforma que facilita el intercambio de bienes entre usuarios. Inspirado en la economía colaborativa, el objetivo principal es fomentar la comunidad, la sostenibilidad y el consumo consciente a través de la práctica del trueque. La plataforma proporciona un espacio virtual donde los usuarios pueden ofrecer lo que tienen y buscar lo que necesitan, creando así una red de intercambio mutuo.</h3></div>
    <img src="https://i.imgur.com/WvWAG0P.png" alt="">
</div>
